body {
  background-color: #FFF4D4;
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
}

.menu-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.navigation {
  position: fixed; /* Makes the navigation fixed to the viewport */
  top: 0;
  left: 0;
  width: 150px; /* Adjust this value for the desired menu width */
  height: 0;
  background-color: #f0f0f0;
  transition: height 0.3s ease;
  overflow-x: hidden; /* This hides the horizontal overflow */
  z-index: 1; /* Ensures the menu appears above other content */
}

.navigation.active {
  height: 150px; /* Adjust this value for the desired navigation height */
}

.navigation a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: black;
}

.navigation a:hover {
  background-color: #e0e0e0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust positioning for the "x" button */
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

main {
  padding: 2rem;
  margin-left: 150px; /* Creates space for the opened menu */
}
